<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.romani.chapterone">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <!--android:appComponentFactory="androidx.core.app.CoreComponentFactory"-->
        <!--tools:ignore="GoogleAppIndexingWarning"-->
        <!--tools:replace="android:appComponentFactory">-->
        <activity android:name=".MovieActivity"/>
        <activity android:name=".Session10Activity" />
        <activity android:name=".Session9Activity" />
        <activity android:name=".Session8_1Activity" />
        <activity android:name=".UsersDetailsActivity" />
        <activity android:name=".Session8Activity" />
        <activity android:name=".Session7Activity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".TeamWinActivity" />
        <activity android:name=".Session6Activity" />
        <activity android:name=".Point3Activity"/>

        <activity android:name=".Point2Activity">
            <intent-filter>
                <action android:name="com.romani.chapterone.Point2Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Point1Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="com.romani.chapterone.MenuActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Session1Activity">
            <intent-filter>
                <action android:name="com.romani.chapterone.Session1Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".KrisActivity">
            <intent-filter>
                <action android:name="com.romani.chapterone.KrisActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FileActivity">
            <intent-filter>
                <action android:name="com.romani.chapterone.FileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RandomActivity">
            <intent-filter>
                <action android:name="com.romani.chapterone.RandomActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RomaniMenuActivity">
            <intent-filter>
                <action android:name="com.romani.chapterone.RomaniMenuActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AmitSessionsActivity">
            <intent-filter>
                <action android:name="com.romani.chapterone.AmitSessionsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="com.romani.chapterone.LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".HexadecimalActivity">
            <intent-filter>
                <action android:name="com.romani.chapterone.HexadecimalActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".EditFileActivity">
            <intent-filter>
                <action android:name="com.romani.chapterone.EditFileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Session2Activity">
            <intent-filter>
                <action android:name="com.romani.chapterone.Session2Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Session3Activity">
            <intent-filter>
                <action android:name="com.romani.chapterone.Session3Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Session4Activity">
            <intent-filter>
                <action android:name="com.romani.chapterone.Session4Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Session5Activity">
            <intent-filter>
                <action android:name="com.romani.chapterone.Session5Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>